.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.modal-toggle {
  background-color: #E3CEF6;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
  font-size: 3rem;
}

